.tagline {
  display: flex;
  align-items: center;
  max-width: 1600px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-dark);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/back-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  &__title {
    // width: 696px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;

    text-transform: uppercase;
    color: var(--text-white-color);
  }

  &__btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 28px;

    width: 200px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: var(--text-white-color);
    background: var(--brand-color);
    border-radius: 4px;
  }

  &__btn:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: $tablet) {
  .tagline {
    &__title {
      width: 450px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .tagline {
    max-height: 600px;

    &__title {
      width: 696px;

      font-size: 44px;
      line-height: 60px;
    }
  }
}
