:root {
  --brand-color: rgba(33, 150, 243, 1);
  --text-blue-color: rgba(33, 150, 243, 1);
  --text-white-color: rgba(255, 255, 255, 1);
  --text-logo-color: rgba(0, 0, 0, 1);
  --text-bold-color: rgba(33, 33, 33, 1);
  --text-main-color: rgba(117, 117, 117, 1);
  --link-hover-color: rgba(33, 150, 243, 1);
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --background-dark: rgba(47, 48, 58, 1);
  --background-light: rgba(245, 244, 250, 1);
  --background-white: rgba(255, 255, 255, 1);

  --card-set-gap: 30px;

  --func-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
